@use "../abstractions/mixins";
@use "../abstractions/media";
@use "../abstractions/functions";

.content {
    display: flex;
    flex-direction: column;
    grid-area: content;

    @media screen and (min-width: 1160px) {
        flex-direction: row;
        align-items: center;
    }
}

.content__image {
    width: 100%;
    max-width: 420px;

    &_dark {
        align-self: flex-start;
    }
    &_light {
        align-self: flex-end;
    }

    @media screen and (min-width: 1160px) {
        height: 100%;

        &_dark {
            align-self: auto;
        }
        &_light {
            align-self: auto;
        }
    }

    @media screen and (min-width: 1400px) {
        max-width: 440px;
    }
}

.content__article {
    padding-top: functions.rem(49);
    padding-inline: functions.rem(33);
    padding-bottom: functions.rem(41);
    margin: 0 auto;

    @media screen and (min-width: 1160px) {
        display: flex;
        justify-content: center;
        flex-direction: column;

        padding-top: functions.rem(64);
        padding-inline: functions.rem(48);
        padding-bottom: functions.rem(58);
    }
}

.content-article__heading {
    font-weight: 700;
    @include mixins.fluid-text(16, 14);
    line-height: functions.rem(22);
    letter-spacing: functions.rem(5.83);
}

.content-article__paragraph {
    margin-top: 15px;
    font-weight: 500;
    font-size: 1rem;
    line-height: functions.rem(22);
    letter-spacing: functions.rem(-0.33);
    color: var(--dark-gray);
}
