@use "../abstractions/media";

.header {
    padding-inline: 24px;
    padding-top: 48px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;

    @include media.tablet-above {
        padding-inline: 53px;
        padding-top: 48px;
    }
}
